/*
body {
   
    background-image: url('Assen/Frame\ 6.png');
    background-size: cover;
    background-position: center;
 
}
*/

body {
    background: #000000;
    color: #ffffff;

}

#body-img {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('Assen/Frame 6.png');
    background-size: cover;
    background-position: center;

}

.body-text {
    margin-top: 12%;
    font-size: 50px;
    margin-left: 5%;
    /* Adjust this value to move the text towards the center */
}

.body-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.body-text h1 span {
    color: #f30639;
}



header {
    position: fixed;
    background: #000000;
    width: 100%;
    height: 70px;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: auto;
    transition: 0.05s;

}

.logo {
    width: 150px;
    /* Set the desired width */
    margin-left: 30px;
    /* Adjust the margin to move the logo slightly to the right */
    margin-right: auto;
    /* Push the logo to the left */
}

.content {
    padding: 20px 20%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 50px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 5px;
    background: #e92b4b;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.btn {
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
    padding: 15px 2.44rem;
    background: #f00b31;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    background: #f74c4c;
    color: #000000;
}


.background {
    background: center;
}



/*-----movies------------*/


#Movies {
    padding: 90px 0;
}


.sub-titel {
    font-size: 50px;
    margin-left: -25%;
    /* Use negative margin to move the text towards the left */
}



.movie {
    margin-right: 40px; /* Add margin to the right of each movie */
}



.Movie-list {
    display: flex;
}

.movie img,
h3,
p {
    width: auto;
    height: auto;
    margin-left: -65%;
 
}

.movie:last-child {
    margin-right: 0; /* Remove margin from the last movie */
}

.movie:hover img {
    transform: scale(1.1);
}

.movie:hover .layed {
    height: 100%;
}






/*

.Movie-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 5fr));
    grid-gap: 50px;
    margin-top: 40px 90px;
  
    margin-left: -22%; 
}

.movie {
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.movie img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layed {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #fbff00);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layed h3 {
    border-radius: 10px;
    display: block;
}

.layed a {

    margin-top: 20px;
    color: #caec09;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.movie:hover img {
    transform: scale(1.1);
}

.movie:hover .layed {
    height: 100%;
}

*/